<html lang="en-us">
<body>
This is the result of the layout example (from readme) working successfully!

<div class="content">
    {% renderbody %}
</div>

<div class="footer">
    <div class="footer">
        {% rendersection footer %}
    </div>
</div>
</body>
</html>